@model VegListViewModel
<h1>@Model.CurrCategory</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Veg veg in Model?.AllVegs)
        {
            @Html.Partial("AllVegs", veg);
        }
    }
</div>